<div class="card card card-outline-info">
    <div class="card-header bg-theme"><h4 class="m-b-0 text-white"><i class="mdi mdi-pencil-box-outline"></i> Danh sách</h4>

    </div>
    <div class="card-body">
        <div style="margin-bottom: 20px">
            <select class="custom-select" id="selectScreen">
                <option value="0" selected>Chọn màn hình</option>
                <option value="1">Màn hình 1</option>
                <option value="2">Màn hình 2</option>
                <option value="3">Màn hình 3</option>
            </select>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-6">
                <!-- ngIf: vm.filterCriteria.category.length -->
                <!-- ngIf: vm.postsCount > 0 -->
                <h6 class="text-megna" ng-if="vm.slidesCount > 0"><i class="mdi mdi-database"></i> Tổng cộng: {[{
                    vm.slidesCount }]} bài viết</h6>
                <h6 class="text-megna"><i class="mdi mdi-translate"></i> Ngôn ngữ: <span class=""
                                                                                         ng-repeat="lang in vm.languages"
                                                                                         ng-click="vm.setLang(lang)"><i
                        class="mdi mdi-check" ng-if="lang == vm.current_lang"></i>&nbsp;<i class="lang-sm"
                                                                                           lang="{[{ lang }]}"></i>&nbsp;</span>
                </h6>

            </div>
            <div class="col-lg-6 col-md-6 text-right">
                <a href="javascript:void(0);" data-ng-click="vm.filterByCategory($event)" class="btn btn-outline-info"><i class="mdi mdi-filter-outline"></i> Lọc chuyên mục</a>
                <a ui-sref="create" class="btn btn-outline-info"><i class="mdi mdi-plus"></i> Thêm mới</a>
                <hr/>
            </div>

        </div>
        <div class="well">
            <input type="text" data-ng-model="vm.filterCriteria.query" class="form-control" placeholder="Tìm bài viết" uib-typeahead="u.data.title[vm.current_lang] for u in vm.query($viewValue)" typeahead-loading="loadingPosts" typeahead-no-results="noResults" class="form-control" typeahead-on-select="vm.onPostSelect($item, $model, $label, $event)">
            <i ng-show="loadingPosts" class="fa fa-refresh"></i>
            <div ng-show="noResults">
                <i class="fa fa-remove"></i> Không tìm thấy
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div ng-show="vm.totalPages > 1" class="text-center">
                    <div class="button-group">
                        <button class="btn-rounded btn-secondary btn btn-sm btn-outline-info" ng-disabled="vm.currentPage == 1" data-ng-click="vm.selectPage(vm.currentPage - 1)"><i class="mdi mdi-chevron-left"></i> Trang trước</button>
                        <button class="btn-rounded btn-secondary btn btn-sm btn-outline-info" ng-disabled="vm.currentPage == vm.totalPages" data-ng-click="vm.selectPage(vm.currentPage + 1)">Trang sau <i class="mdi mdi-chevron-right"></i></button>
                        <button type="button" class="btn-rounded btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trang {[{ vm.currentPage }]} / {[{ vm.totalPages }]}
                        </button>
                        <div class="dropdown-menu" style="height:300px; overflow-y: auto">
                            <a class="dropdown-item" href="#" data-ng-repeat="i in vm.totalPages | range" data-ng-click="vm.selectPage(i+1)">Trang {[{ i + 1 }]} / {[{ vm.totalPages }]}</a>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li class="media" data-ng-repeat="u in vm.slides">
<!--                        <div ng-if="vm.indexScreen == '1'">-->
                        <a ui-sref="edit({slideUuid: u.uuid})" id="edit-uuid" ng-click="vm.getUuid(u.uuid)" value="{[{ u.uuid }]}"><img class="d-flex mr-3" ng-src="{[{ u.data.mainImage || '/ui/material-pro/assets/images/no-image.jpg' }]}" alt="Image" width="100"></a>
                        <div class="media-body">
                            <h4 class="mt-0 mb-1 text-primary" ng-click="vm.getUuid(u.uuid)"><a ui-sref="edit({slideUuid: u.uuid})">{[{u.data.name}]}</a></h4>
                        </div>
                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus1(u.uuid, u.data.status)" ng-if="u.data.display[0] == 1"type="button"  style="width: 85px" class="btn btn-sm btn-info">Màn hình 1</button>
                            </div>
                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus1(u.uuid, u.data.status)" ng-if="u.data.display[0] == 0"type="button" style="width: 85px; margin-right: 15px" class="btn btn-sm btn-secondary">Màn hình 1</button>
                            </div>

                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus2(u.uuid, u.data.status)" ng-if="u.data.display[1] == 1"type="button"  style="width: 85px" class="btn btn-sm btn-info">Màn hình 2</button>
                            </div>
                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus2(u.uuid, u.data.status)" ng-if="u.data.display[1] == 0"type="button" style="width: 85px; margin-right: 15px" class="btn btn-sm btn-secondary">Màn hình 2</button>
                            </div>

                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus3(u.uuid, u.data.status)" ng-if="u.data.display[2] == 1"type="button"  style="width: 85px" class="btn btn-sm btn-info">Màn hình 3</button>
                            </div>
                            <div class="d-flex mr-3">
                                <button ng-click="vm.changeStatus3(u.uuid, u.data.status)" ng-if="u.data.display[2] == 0"type="button" style="width: 85px; margin-right: 15px" class="btn btn-sm btn-secondary">Màn hình 3</button>
                            </div>
                              <div class="d-flex mr-3">
                                <button ng-click="vm.remove(u.uuid, $index, $event)" type="button" class="btn btn-sm btn-outline-danger"><i class="mdi mdi-delete"></i> Xóa</button>
                            </div>
                    </li>
                </ul>

                <div ng-show="vm.totalPages > 1" class="text-center">
                    <div class="button-group">
                        <button class="btn-rounded btn-secondary btn btn-sm btn-outline-info" ng-disabled="vm.currentPage == 1" data-ng-click="vm.selectPage(vm.currentPage - 1)"><i class="mdi mdi-chevron-left"></i> Trang trước</button>
                        <button class="btn-rounded btn-secondary btn btn-sm btn-outline-info" ng-disabled="vm.currentPage == vm.totalPages" data-ng-click="vm.selectPage(vm.currentPage + 1)">Trang sau <i class="mdi mdi-chevron-right"></i></button>
                        <button type="button" class="btn-rounded btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trang {[{ vm.currentPage }]} / {[{ vm.totalPages }]}
                        </button>
                        <div class="dropdown-menu" style="height:300px; overflow-y: auto">
                            <a class="dropdown-item" href="#" data-ng-repeat="i in vm.totalPages | range" data-ng-click="vm.selectPage(i+1)">Trang {[{ i + 1 }]} / {[{ vm.totalPages }]}</a>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.categoriesCount == 0">
                    <h3>Không có dữ liệu</h3>
                </div>
            </div>
        </div>
    </div>
</div>
