
body {
    font:400 13px/16px arial;
    margin: 0px;background:#003630;
}

#close{
    position: absolute ;width:26px;height:31px;display: none;
}

#content{
    width: 100%;margin: auto;background:white;
}

#top_bar{
    width:100%;height:39px;background: url('../../images/topbar_bg.png');
}

#top_title{
    color:#007a6f;text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
}

#top_icon{
    padding-left:20px;width:40px;
}

#hotspotName{
    color:#fff;padding-left:20px;
    vertical-align: middle;
    padding-right:30px;
}

#hotspotNameContainer{
    width:100%;height:40px;background: #007c6c;color:white;
}

#media_content{
    width: 100%;
}

#media{
    border: none;width: 100%;height:330px;
}

#autoguide{
    width: 100%;height:24px;
    display:none;
}

#hotspotDescription{
    width: auto;
    display:none;
    padding:10px;
    padding-right:30px;
}

#hotspotAttribute{
        width: auto;
        display:none;
}

#bottom_bar{
    width:100%;height:68px;background: url('../../images/bottom_bg.png') repeat-x;
    line-height: 20px;
}

#bottom_icon{
    padding-left:20px;width:55px;
}

#footer_title{
    color:#007a6f;text-transform: uppercase;padding-top:5px;
    font-weight: bold;
}